* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background: rgb(77, 77, 244);
  height: 100vh;
  width: 100%;
  align-items: center;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1 {
  color: white;
  margin-bottom: 20px;
}
img {
  height: 500px;
  width: 300px;
}
button {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: none;
}

@media only screen and (max-width: 320px) {
  .main {
    background: rgb(77, 77, 244);
    padding-top: 5px;
  }
  h1 {
    padding-top: 0px;
  }
  img {
    height: 400px;
    width: 250px;
  }
  .btn-2 {
    display: flex;
    position: absolute;
    top: 530px;
    left: 170px;
    padding: 0px;
  }
  .btn-1 {
    display: flex;
    position: absolute;
    left: 10px;
    top: 530px;
  }
  .button {
    padding: 5px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 376px) and (min-width: 321px) {
  .main {
    background: rgb(77, 77, 244);
    padding-top: 5px;
  }
  h1 {
    padding-top: 0px;
  }
  img {
    height: 400px;
    width: 250px;
  }
  .btn-2 {
    display: flex;
    position: absolute;
    top: 530px;
    left: 222px;
    padding: 0px;
  }
  .btn-1 {
    display: flex;
    position: absolute;
    left: 10px;
    top: 530px;
  }
  .button {
    padding: 5px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 426px) and (min-width: 376px) {
  .main {
    background: rgb(77, 77, 244);
    padding-top: 5px;
  }
  h1 {
    padding-top: 0px;
  }
  img {
    height: 400px;
    width: 250px;
  }
  .btn-2 {
    display: flex;
    position: absolute;
    top: 530px;
    left: 250px;
    padding: 0px;
  }
  .btn-1 {
    display: flex;
    position: absolute;
    left: 50px;
    top: 530px;
  }
  .button {
    padding: 5px;
    font-size: 15px;
  }
}
